In [11]:
import pandas as pd

'C:\\Users\\Antonio Pacheco'

In [45]:
df = pd.read_csv("avocado.csv")
pd.read_csv("avocado.csv")

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [15]:
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [21]:
df.loc[:,["AveragePrice"]]

       AveragePrice
0              1.33
1              1.35
2              0.93
3              1.08
4              1.28
...             ...
18244          1.63
18245          1.71
18246          1.87
18247          1.93
18248          1.62

[18249 rows x 1 columns]

In [26]:
df.loc[[10000],["year"]]

       year
10000  2015

In [27]:
df.describe()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,24.232232,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,10.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,24.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,38.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [48]:
# Respondiendo preguntas:

# 1. Â¿CuÃ¡ntos objetos hay?

len(df.iloc[:,0])

# Hay 18249 objetos

18249

In [43]:
# 2. Â¿CuÃ¡l es el valor de la variable 2 del objeto 15?

df.iloc[15,2]

# El valor es 1.28

1.28

In [53]:
# 3. Â¿CuÃ¡l es el mÃ­nimo y mÃ¡ximo de la variable 3?

df["AveragePrice"].min()

# El valor mÃ­nimo es 0.44

0.44

In [54]:
df["AveragePrice"].max()

# EL valor mÃ¡ximo es 3.25

3.25

In [55]:
# Actividad Evaluable 2: ObtenciÃ³n de estadÃ­sticas descriptivas

In [2]:
# 1. Carga los datos usando tu lector de csv o con pandas. Es recomendable hacerlo con pandas.
import pandas as pd
dataframe = pd.read_csv("avocado.csv")

In [36]:
# 2. Verifica la cantidad de datos que tienes, las variables que contiene
#    cada vector de datos e identifica el tipo de variables.

print(dataframe.count())
len(dataframe)

# Cada variable contiene 18249 datos. De esta forma, para obtener el total de datos con los que estamos trabajando, 
# multiplicamos 18249 por la cantidad de variables (que en este caso son 14). Entonces: 18249 x 14 = 255486 datos.

Unnamed: 0      18249
Date            18249
AveragePrice    18249
Total Volume    18249
4046            18249
4225            18249
4770            18249
Total Bags      18249
Small Bags      18249
Large Bags      18249
XLarge Bags     18249
type            18249
year            18249
region          18249
dtype: int64

18249

In [8]:
# Identificando el tipo de variables:

dataframe.dtypes

# Todas las variables a excepciÃ³n de "Date", "type", y "region" son numÃ©ricas, 
# ya sean enteras (int) o flotantes/con decimales (float).
# Las variables "Date", "type", y region son variables de texto ("o de tipo string").

Unnamed: 0        int64
Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [34]:
# 3. Analiza las variables para saber quÃ© representa cada una y en quÃ© rangos se encuentran. 
#    Si la descripciÃ³n del problema no te lo indica, utiliza el mÃ¡ximo y el mÃ­nimo para encontrarlo.

# Obteniendo los valores mÃ­nimos y mÃ¡ximos de las variables para saber los rangos de los valores de las mismas:
print("MÃ¡ximos de las variables:")
print("Precio promedio:", dataframe["AveragePrice"].max())
print("Volumen total:", dataframe["Total Volume"].max())
print("4046:", dataframe["4046"].max())
print("4225:", dataframe["4225"].max())
print("4770:", dataframe["4770"].max())
print("Bolsas totales:", dataframe["Total Bags"].max())
print("Bolsas pequeÃ±as:", dataframe["Small Bags"].max())
print("Bolsas grandes:", dataframe["Large Bags"].max())
print("Bolsas muy grandes:", dataframe["XLarge Bags"].max())
print("AÃ±o:", dataframe["year"].max())
print("\n")

print("MÃ­nimos de las variables:")
print("Precio promedio:", dataframe["AveragePrice"].min())
print("Volumen total:", dataframe["Total Volume"].min())
print("4046:", dataframe["4046"].min())
print("4225:", dataframe["4225"].min())
print("4770:", dataframe["4770"].min())
print("Bolsas totales:", dataframe["Total Bags"].min())
print("Bolsas pequeÃ±as:", dataframe["Small Bags"].min())
print("Bolsas grandes:", dataframe["Large Bags"].min())
print("Bolsas muy grandes:", dataframe["XLarge Bags"].min())
print("AÃ±o:", dataframe["year"].min())
print("\n")

# Analizando las variables usando algunos ejemplos de filas aleatorias:
print(dataframe.loc[500,:])
print("\n")

print(dataframe.loc[1000,:])
print("\n")

print(dataframe.loc[1500,:])
print("\n")

print(dataframe.loc[2000,:])
print("\n")

print(dataframe.loc[2500,:])
print("\n")

# Se infiere que esta base de datos almacena datos de ventas de bolsas (tanto pequeÃ±as como grandes y muy grandes), asÃ­ como 
# el promedio total del volumen de las bolsas vendidas en una fecha y regiÃ³n dada, desde el aÃ±o 2015 hasta el aÃ±o 2018. Por 
# este motivo, esta base de datos podrÃ­a haber sido realizada por un negocio que se encargue de vender estas bolsas.

# La variable "Date" almacena las fecha de una jornada de ventas concreta. La variable "Total volume" almacena el volumen total
# de todas las bolsas vendidas en un dÃ­a determinado, dicho volumen estÃ¡ dado por la cantidad de bolsas pequeÃ±as, grandes y
# muy grandes vendidas en un dÃ­a especÃ­fico. No tenemos informaciÃ³n suficiente para inferir quÃ© representan las variables
# "4046", "4225" y "4770". La variable "Total Bags" representa la cantidad de bolsas vendidas en un dÃ­a determinado. La
# variable "Small Bags" representa solo la cantidad de bolsas pequeÃ±as vendidas en un dÃ­a determinado. La variable "Large
# Bags" representa solo la cantidad de bolsas grandes vendidas en un dÃ­a determinado. La variable "xLarge Bags" representa la
# cantidad de bolsas muy grandes vendidas en un dÃ­a en especÃ­fico. La variable "type" representa el tipo de bolsa vendida. La
# variable "region" representa la localizaciÃ³n en la que se realizÃ³ la jornada de ventas ese dÃ­a. Y la variable "year"
# representa el aÃ±o en el que se llevÃ³ a cabo esta jornada de ventas.

MÃ¡ximos de las variables:
Precio promedio: 3.25
Volumen total: 62505646.52
4046: 22743616.17
4225: 20470572.61
4770: 2546439.11
Bolsas totales: 19373134.37
Bolsas pequeÃ±as: 13384586.8
Bolsas grandes: 5719096.61
Bolsas muy grandes: 551693.65
AÃ±o: 2018


MÃ­nimos de las variables:
Precio promedio: 0.44
Volumen total: 84.56
4046: 0.0
4225: 0.0
4770: 0.0
Bolsas totales: 0.0
Bolsas pequeÃ±as: 0.0
Bolsas grandes: 0.0
Bolsas muy grandes: 0.0
AÃ±o: 2015


Unnamed: 0                    32
Date                  2015-05-17
AveragePrice                1.04
Total Volume           234579.34
4046                    10239.98
4225                   150323.91
4770                    14523.82
Total Bags              59491.63
Small Bags              18091.92
Large Bags              38536.09
XLarge Bags              2863.62
type                conventional
year                        2015
region          CincinnatiDayton
Name: 500, dtype: object


Unnamed: 0                12
Date              2015-10-04
AveragePrice            0.98
Total Volume       139679.01
4046                  3645.9
4225                87385.31
4770                13528.83
Total Bags          35118.97
Small Bags          18727.08
Large Bags          14546.97
XLarge Bags          1844.92
type            conventional
year                    2015
region          Indianapolis
Name: 1000, dtype: object


Unnamed: 0                44
Date              2015-02-22
AveragePrice            1.33
Total Volume      1088977.45
4046                18716.23
4225               757987.66
4770                  2885.0
Total Bags         309388.56
Small Bags          253336.8
Large Bags          56051.76
XLarge Bags              0.0
type            conventional
year                    2015
region               NewYork
Name: 1500, dtype: object


Unnamed: 0                   24
Date                 2015-07-12
AveragePrice               1.02
Total Volume           234568.8
4046                   80375.78
4225                   90573.83
4770                   12718.46
Total Bags             50900.73
Small Bags             50740.73
Large Bags                160.0
XLarge Bags                 0.0
type               conventional
year                       2015
region          RichmondNorfolk
Name: 2000, dtype: object


Unnamed: 0                 4
Date              2015-11-29
AveragePrice            1.16
Total Volume       129475.25
4046                38130.41
4225                26526.03
4770                  115.21
Total Bags           64703.6
Small Bags          57854.06
Large Bags           6840.66
XLarge Bags             8.88
type            conventional
year                    2015
region               StLouis
Name: 2500, dtype: object

In [28]:
# 4. BasÃ¡ndose en la media, mediana y desviaciÃ³n estÃ¡ndar de cada variable, Â¿QuÃ© conclusiones puedes entregar de los datos?

print("Medias de las variables:")
print("Precio promedio:", dataframe["AveragePrice"].mean())
print("Volumen total:", dataframe["Total Volume"].mean())
print("4046:", dataframe["4046"].mean())
print("4225:", dataframe["4225"].mean())
print("4770:", dataframe["4770"].mean())
print("Bolsas totales:", dataframe["Total Bags"].mean())
print("Bolsas pequeÃ±as:", dataframe["Small Bags"].mean())
print("Bolsas grandes:", dataframe["Large Bags"].mean())
print("Bolsas muy grandes:", dataframe["XLarge Bags"].mean())
print("AÃ±o:", dataframe["year"].mean())
print("\n")

print("Medianas de las variables:")
print("Precio promedio:", dataframe["AveragePrice"].median())
print("Volumen total:", dataframe["Total Volume"].median())
print("4046:", dataframe["4046"].median())
print("4225:", dataframe["4225"].median())
print("4770:", dataframe["4770"].median())
print("Bolsas totales:", dataframe["Total Bags"].median())
print("Bolsas pequeÃ±as:", dataframe["Small Bags"].median())
print("Bolsas grandes:", dataframe["Large Bags"].median())
print("Bolsas muy grandes:", dataframe["XLarge Bags"].median())
print("AÃ±o:", dataframe["year"].median())
print("\n")

print("DesviaciÃ³n estÃ¡ndar de las variables:")
print("Precio promedio:", dataframe["AveragePrice"].std())
print("Volumen total:", dataframe["Total Volume"].std())
print("4046:", dataframe["4046"].std())
print("4225:", dataframe["4225"].std())
print("4770:", dataframe["4770"].std())
print("Bolsas totales:", dataframe["Total Bags"].std())
print("Bolsas pequeÃ±as:", dataframe["Small Bags"].std())
print("Bolsas grandes:", dataframe["Large Bags"].std())
print("Bolsas muy grandes:", dataframe["XLarge Bags"].std())
print("AÃ±o:", dataframe["year"].std())

# Conclusiones de los datos:

# Las desviaciones estÃ¡ndar tanto del volumen total como de los tamaÃ±os de las bolsas es muy grande (tomando en cuenta la media 
# de cada variable). Por lo que podemos conlcuir que estos datos van a variar mucho de un aÃ±o a otro. Por este motivo, si 
# realizÃ¡ramos una regresiÃ³n lineal con cada uno de estos datos con respecto al tiempo (en este caso, los aÃ±os), no tendrÃ­amos
# una predicciÃ³n de quÃ© valores adoptarÃ­an en estos datos en un futuro

# Por otra parte, basÃ¡ndonos en la desviaciÃ³n estÃ¡ndar del precio promedio, podemos concluir que si realizÃ¡ramos una regresiÃ³n
# lineal con estos datos con respecto al tiempo, tendrÃ­amos una mucho mejor predicciÃ³n de los valores que podrÃ­an adoptar en 
# el futuro. La desviaciÃ³n estÃ¡ndar de esta variables es menores a 1, los cuales son valores mucho menores que el resto de 
# las variables.

Medias de las variables:
Precio promedio: 1.405978409775878
Volumen total: 850644.0130089321
4046: 293008.4245306592
4225: 295154.56835607433
4770: 22839.73599265713
Bolsas totales: 239639.20205983886
Bolsas pequeÃ±as: 182194.68669570936
Bolsas grandes: 54338.08814455587
Bolsas muy grandes: 3106.426507205874
AÃ±o: 2016.1478985149872


Medianas de las variables:
Precio promedio: 1.37
Volumen total: 107376.76
4046: 8645.3
4225: 29061.02
4770: 184.99
Bolsas totales: 39743.83
Bolsas pequeÃ±as: 26362.82
Bolsas grandes: 2647.71
Bolsas muy grandes: 0.0
AÃ±o: 2016.0


DesviaciÃ³n estÃ¡ndar de las variables:
Precio promedio: 0.40267655549555004
Volumen total: 3453545.3553994815
4046: 1264989.081762766
4225: 1204120.4011350493
4770: 107464.06843537689
Bolsas totales: 986242.3992164129
Bolsas pequeÃ±as: 746178.5149617859
Bolsas grandes: 243965.9645474206
Bolsas muy grandes: 17692.894651914357
AÃ±o: 0.9399384671406024